/** Globals */

*:focus {
    outline: none;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.qrCodeBtn {
    cursor: pointer;
    height: 30px;
}

.deleteText {
    font-weight: bold;
    text-transform: capitalize;
}

.rowItem {
    border-radius: 10px;
    border: 1px solid #009A7F;
    margin-top: 10px;
}

.rowItem-text {
    margin-top: 6px;
}

.bubble-title {
    font-weight: 600;
    margin-top: 15px;
    color: #009A7F;
}

.bubble-value {
    margin: 15px;
}

.bubble-value span {
    font-weight: 700;
    border-radius: 15px;
    background-color: #009A7F;
    color: #fff;
    padding: 5px 10px;
}

/** Modal */

.modal-body {
    max-height: 65vh;
    overflow-y: auto;
}

/** Page Home */

.homeCard {
    padding: 3rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px rgb(122 122 122 / 21%);
}

.homeCard img {
    max-height: 40px;
    margin-right: 10px;
}

/** QR window */

.qrArea {
    background-color: #ffffffb0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    align-items: center;
    justify-content: center;
}

.qrBox {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(122 122 122 / 21%);
}

.qrBox canvas {
    height: 160px !important;
    width: 160px !important;
}

.qrAction {
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Menu */

.mainNavBar {
    background-color: #009A7F;
}

/** Menu - Logo */

.mainNavBar .navbar-brand {
    color: #fff;
}

/** Menu - links */

.useProfile {
    font-weight: 600;
    color: #fff;
    margin-right: 10px;
}

.useProfile:hover {
    text-decoration: none;
    color: yellow;
}

.userLogout {
    color: #fff;
}

.userLogout img {
    height: 30px;
}

/** Menu - links */

.nav-item .nav-link {
    color: #fff;
}

.nav-item .nav-link:hover {
    color: yellow;
}

.nav-item.active .nav-link {
    color: yellow;
}

/** Menu - hamburgerButton */

.mainNavBar .hamburgerButton {
    border-color: #fff;
}

.hamburgerButton {
    display: inline-block;
    cursor: pointer;
}

.hamburgerButton-bar1, .hamburgerButton-bar2, .hamburgerButton-bar3 {
    width: 40px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburgerClose .hamburgerButton-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburgerClose .hamburgerButton-bar2 {
    opacity: 0;
}

.hamburgerClose .hamburgerButton-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/** Page home actions*/

.actionHeader {
    text-transform: capitalize;
    color: #009A7F;
}

/** Page Header submenu */

.headerMenu {
    background-image: url("../images/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerMenu-title {
    padding: 23.3px;
    color: #fff;
}

.headerMenu-title img {
    max-height: 45px;
    margin-right: 10px;
}

/** Login Page */

.authBackground {
    background-image: url("../images/login-splash-screen-clean.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
}

.authBox {
    margin: auto;
}

.authHeader {
    background-color: #2a8272;
    color: #fff;
    padding: 10px 0;
    margin: 0;
}

.authForm {
    background-color: #d9ede3;
    padding: 30px;
    overflow-y: auto;
    margin: 0;
}

.authAction button {
    margin: 0 10px;
}

.authAction button.btn-primary {
    background: #7f1a23;
    border: 0;
}

.loginForm, .registerForm {
    margin: auto;
    width: 100%;
    display: none;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

.loginForm {
    max-width: 386px;
}

.registerForm {
    max-width: 830px;
}

.activeForm {
    display: inherit;
}

/** Footer */

.footer {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #009A7F;
}

/** Add support for screen with resplution lower than 575px */
@media (max-width: 575px) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}