/** Globals */

*:focus {
    outline: none;
}

/** Menu */

.mainNavBar {
    background-color: #009A7F;
}

/** Menu - Logo */

.mainNavBar .navbar-brand {
    color: #fff;
}

/** Menu - links */

.useProfile {
    font-weight: 600;
    color: #fff;
    margin-right: 10px;
}

.useProfile:hover {
    text-decoration: none;
    color: yellow;
}

.userLogout {
    color: #fff;
}

.userLogout img {
    height: 30px;
}

/** Menu - links */

.nav-item .nav-link {
    color: #fff;
}

.nav-item .nav-link:hover {
    color: yellow;
}

.nav-item.active .nav-link {
    color: yellow;
}

/** Menu - hamburgerButton */

.mainNavBar .hamburgerButton {
    border-color: #fff;
}

.hamburgerButton {
    display: inline-block;
    cursor: pointer;
}

.hamburgerButton-bar1, .hamburgerButton-bar2, .hamburgerButton-bar3 {
    width: 40px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburgerClose .hamburgerButton-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburgerClose .hamburgerButton-bar2 {
    opacity: 0;
}

.hamburgerClose .hamburgerButton-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/** Page Header submenu */

.headerMenu {
    background-image: url("../images/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerMenu-title {
    padding: 23.3px;
    color: #fff;
}

.submenuBtn {
    text-align: center;
    display: inline-block;
    margin: 10px 10px 10px 0;
    cursor: pointer;
}

.submenuBtn-text {
    padding: 3px 6px;
    color: #000;
    background-color: #fff;
    text-transform: uppercase;
}

.submenuBtn-img {
    height: 30px;
    width: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.submenuBtn:hover .seeding, .submenuBtn.active .seeding {
    background-image: url("../images/dashboard/seeding_yellow.png");
}

.submenuBtn:hover .harvesting, .submenuBtn.active .harvesting {
    background-image: url("../images/dashboard/harvesting_yellow.png");
}

.submenuBtn:hover .fertilizing, .submenuBtn.active .fertilizing {
    background-image: url("../images/dashboard/fertilizing_yellow.png");
}

.submenuBtn:hover .settings, .submenuBtn.active .settings {
    background-image: url("../images/dashboard/settings_yellow.png");
}

.seeding {
    background-image: url("../images/dashboard/seeding_white.png");
}

.harvesting {
    background-image: url("../images/dashboard/harvesting_white.png");
    width: 40px;
}

.fertilizing {
    background-image: url("../images/dashboard/fertilizing_white.png");
}

.settings {
    background-image: url("../images/dashboard/settings_white.png");
}

/** Page home actions*/

.actionHeader {
    text-transform: capitalize;
    color: #009A7F;
}

/** Map Page*/

.mapTitle {
    font-weight: 700;
}

.mapTitle img {
    margin-right: 5px;
    height: 30px;
}

.mapStatus {
    display: inline-block;
    background-color: #F2F2F2;
    padding: 3px 6px;
    margin: 2px 3px;
    border-radius: 5px;
}

.mapStatus-label {
    font-weight: 700;
}

.mapStatus-value {
    margin-left: 5px;
}

/** Login Page */

.authBackground {
    background-image: url("../images/login-splash-screen-clean.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
}

.authBox {
    margin: auto;
}

.authHeader {
    background-color: #2a8272;
    color: #fff;
    padding: 10px 0;
    margin: 0;
}

.authForm {
    background-color: #d9ede3;
    padding: 30px;
    overflow-y: auto;
    margin: 0;
}

.authAction button {
    margin: 0 10px;
}

.authAction button.btn-primary {
    background: #7f1a23;
    border: 0;
}

.loginForm, .registerForm {
    margin: auto;
    width: 100%;
    display: none;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

.loginForm {
    max-width: 386px;
}

.registerForm {
    max-width: 830px;
}

.activeForm {
    display: inherit;
}

/** Map */

.mapContainer {
    width: 100%;
    min-height: 70vh;
}

.map-bullet {
    left: 4px !important;
    top: 4px !important;
    width: 7px !important;
    height: 7px !important;
}

.map-bullet-tractor {
    height: 40px !important;
    width: 40px !important;
    left: -15px !important;
    top: -20px !important;
    z-index: 550 !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/tractor-icon.png");
}

.map-bullet-circle {
    padding: 10px;
    border-radius: 10px;
    background-color: red;
}

.map-bullet-seeding, .legend-bullet-seed {
    background-color: #ff5809;
}

.map-bullet-fertilizing, .legend-bullet-fertilized {
    background-color: #dd00dd;
}

.map-bullet-harvesting, .legend-bullet-harvest {
    background-color: #aa5500;
}

.mapJoystick {
    position: absolute;
    bottom: 20px;
    z-index: 400;
    width: 200px;
}

.mapJoystick-up, .mapJoystick-left, .mapJoystick-right, .mapJoystick-down {
    padding: 4px;
    width: 65px;
    border: 1px solid #009A7F;
    margin: 5px;
    border-radius: 5px;
}

.mapJoystick-up:active, .mapJoystick-left:active, .mapJoystick-right:active, .mapJoystick-down:active {
    position: relative;
    top: 1px;
}